<div class="container">
    <div class="position-absolute top-50 start-50 translate-middle">
        <form>
            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control form-control-lg" id="userName" placeholder="Username">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control form-control-lg" id="password" placeholder="Password">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-lg float-right">Log In</button>
                </div>
            </div>
        </form>
    </div>
</div>